.style {
  height: 97vh;
  width: 760px;
  position :sticky;
  margin-top: 1%;
}
.body{
  height: 100vh;
  background-color: lightsteelblue;
}

.style1 {
  height: 97vh;
  width: 760px;
  position :sticky;
  margin-top: 1%;
}
.style2{
  text-decoration: line-through;
  color: red;
}
.style3{
  color: blue;
  font-size: 17px;
}
.style4{
  font-size: 16px;
}
.style6{
  margin-top: 10px;
  font-size: 15px;
  border-top: 3px solid blue;
  border-bottom: 3px solid blue;
  border-radius: 10px;
  background-color: aquamarine;
}
