.style {
  height: 97vh;
  width: 760px;
  position :sticky;
  margin-top: 1%;
}
.body{
  height: 100vh;
  background-color: lightsteelblue;
}

.style1 {
  height: 97vh;
  width: 760px;
  position :sticky;
  margin-top: 1%;
}
.style2{
  text-decoration: line-through;
  color: red;
}
.style3{
  color: blue;
  font-size: 17px;
}
.style4{
  font-size: 16px;
}
.style6{
  margin-top: 10px;
  font-size: 15px;
  border-top: 3px solid blue;
  border-bottom: 3px solid blue;
  border-radius: 10px;
  background-color: aquamarine;
}
.style11{
  transform: perspective(100px) translateY(100px);
  background-color: red;
}
.style12{
  margin-top: 9%;
}

.style13{
  margin-top: 9%;
  background-color: antiquewhite;
  border-radius: 5px;
}
.style14{
  font-size: 15px;
}
.style15{
  cursor: pointer;
}
.style16{
  border: 2px solid blue;
  border-radius: 5px;
  transform: perspective(100px) translateX(-20px);
  cursor: pointer;
}
.style17{
  cursor: pointer;
  border: 2px solid blue;
  transform: perspective(100px) translateX(20px);
  border-radius: 5px;
}